<p>laptop-list works!</p>
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="bread-crumb">
          <h3 title="Laptops List ">Laptops List</h3>
        </div>
        <div class="table-div">
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th title="ID">ID</th>
                <th title="Brand">Brand</th>
                <th title="Model">Model</th>
                <th title="Price">Price</th>
                <th title="Function">Function</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let laptop of laptops">
                <td>{{ laptop.id }}</td>
                <td>{{ laptop.brand }}</td>
                <td>{{ laptop.model }}</td>
                <td>{{ laptop.price }}</td>
                 <button (click)="deleteLaptop(laptop.id)" class="btn btn-danger">Delete</button>
                 <a [routerLink]="['/laptops/edit', laptop.id]" class="btn btn-secondary">Edit</a>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <a [routerLink]="['/add']" class="btn btn-primary">Add Laptop</a>